<section class="app-main-layout">
  <mat-toolbar>
    <img src="./../../../assets/images/logo.jpg" width="220" alt="">
    <app-menu-items></app-menu-items>
    <span class="example-spacer"></span>
    <div mat-icon-button aria-label="icon-button" class="tw-pt-2">
      <span>
        <mat-icon>phone</mat-icon>
      </span>
    </div>
    <span class="tw-pl-2">+8801683800976</span>
    <div mat-icon-button class="example-icon tw-ml-4 tw-pt-2" aria-label="Example icon-button with share icon">
      <span>
        <mat-icon>share</mat-icon>
      </span>
    </div>
    <span class="tw-pl-2 tw-text-[20px]">koushik1234@gmail.com</span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</section>
