<section class="about-us-container-main">
  <h1 class="tw-text-center tw-mb-2">ABOUT US</h1>
  <p>Pilipinas Kaneko Seeds Corporation was established in October 1982. It is a joint venture between Filipino
    investors and Kaneko Seeds Co., Ltd., a well-established company founded in 1895 and considered one of the leading
    seed companies in Japan.</p>
  <p>Since its organization in 1982, PKSC has been supplying highly reliable and best quality seeds not only to domestic
    customers, but has been exporting to several countries as well..</p>
  <p>Undoubtedly, our best and tested products have created an impact in the seed industry for the past years; thus,
    attaining its mission to contribute to the development of the seed industry in the Philippines.</p>
</section>
